:root {
  --main-color: #000000;
}

body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
img {
  display: block;
}
/* * {
  outline: 1px solid red;
} */
/* =====header===== */

.header {
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
  padding-top: 40px;
  padding-bottom: 39px;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 80px;
  transform: rotate(0) scale(1);
  transition: transform 500ms linear;
}
.icon-logo {
  width: 41px;
  height: 39px;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
}

.nav-list-item {
}

.nav-list-link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--main-color);
  transition: color 500ms linear;
}
.nav-list-item:not(:last-child) {
  margin-right: auto;
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 34px;
  min-width: 150px;
  height: 44px;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #f7941e;
  background-color: #fafafa;
  border: 1px solid #f7941e;
  border-radius: 5px;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #f7941e;
}
.logo:hover,
.logo:focus {
  transform: rotate(360deg) scale(2);
}

.hero {
  outline: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}
.container-hero {
  display: flex;

  padding-left: 162px;
}
.hero-content {
  padding-top: 154px;
  padding-right: 126px;
}
.hero-title {
  font-weight: 400;
  font-size: 56px;
  line-height: 1.23;
  color: var(--main-color);
  margin-bottom: 36px;
}
.text-hero {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 52px;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 200px;
  height: 60px; */
  padding: 25px;
  margin-bottom: 135px;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f7941e;
  border-radius: 5px;
  border: transparent;
  transform: scale(1);
  box-shadow: 10px 10px 15px rgba(45, 15, 36, 0.5);
  transition: border-shadow 250ms linear, trancform 250ms linear;
}
.hero-button:hover,
.hero-button:focus {
  transform: scale(1.5);
  box-shadow: 10px 10px 15px rgb(8, 236, 50);
}
.hero-foto {
  display: inline-flex;
  flex-grow: 0;
  width: 720px;
  outline: 1px solid red;

  background-color: aqua;
}

/* ==================HOW WORK============== */
.how-work {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.work-list {
}

.work-item {
  display: flex;
  flex-basis: calc(100% / 2);
}
.work-item:nth-child(2n) {
  flex-direction: row-reverse;
}
.work-item:nth-child(2n) .work-about {
  background-color: floralwhite;
}
.exapmle-work {
  height: 600px;
}

.work-about {
  width: 720px;

  padding-top: 164px;
  padding-left: 100px;
  padding-right: 166px;
  background-color: #f1f1f2;
}
.work-title {
  font-size: 32px;
  font-weight: 300px;
  line-height: 1.46;
  color: var(--main-color);
  margin-bottom: 25px;
}
.text {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 1.4;
}
.work-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;

  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #f7941e;
  background-color: transparent;
  border: 1px solid #f7941e;
  border-radius: 5px;
}

/* ===============================GIFTS======================================================== */
.gifts {
  padding-top: 96px;
  padding-bottom: 137px;
  background-color: #ffffff;
}
/* .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
} */

.gifts-title {
  font-size: 32px;
  line-height: 1.1875px;
  text-align: center;
  margin-bottom: 23px;
}

.gift-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gift-item {
  box-shadow: 10px 10px 15px rgba(45, 15, 36, 0.5);
}
.gift-title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 74px;
}
.gift-button {
  min-width: 67px;
  height: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--main-color);
  border: 1px solid green;
  background-color: transparent;
  transform: scale(1);
  transition: transform 250ms linear, , background-color 250ms ease;
}
.gift-button:hover {
  transform: scale(1.5);
  background-color: coral;
}

.card-name {
  padding: 24px 24px;
  background-color: #fafafa;
}

/* =========================find======================= */
.find {
  width: 1440px;
  background-color: #f7941e;
  margin-left: auto;
  margin-right: auto;
  padding-top: 81px;
  padding-bottom: 69px;
}
.find-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 229px;
}

.find-content {
  margin-right: ;
}
.find-tittle {
  font-size: 32px;
  line-height: 1.4;
}
.text-find {
  font-size: 32px;
  line-height: 1.4;
}
.find-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.find-item {
}

.button-find {
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 24px;
  border-radius: 4px;
  background-color: #000000;
}
.trans {
  background-color: transparent;
  color: #000000;
}

.blogs {
  padding-top: 88px;
  padding-bottom: 93px;
}

.blogs-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.18;
  text-align: center;
  color: #000000;
  margin-bottom: 23px;
}
.text-undertitle {
  font-size: 18px;
  line-height: 1.35;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.blogs-main {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.blogs-main-content {
  padding-top: 63px;
  padding-bottom: 49px;
  padding-left: 78px;
  background-color: #000000;
  flex-grow: 1;
  height: 370px;
}

.text-blogs {
  font-size: 14px;
  line-height: 1.462%;
  color: #ffffff;
  margin-bottom: 27px;
}
.title-blogs-main {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  max-width: 492px;
  margin-bottom: 62px;
}
.text-blogs-under {
  font-size: 18px;
  line-height: 1.4062%;
  color: #ffffff;
}
.blogs-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.blogs-item {
  min-height: 270px;
  padding-top: 61px;
  padding-left: 48px;
  padding-bottom: 37px;
  flex-basis: calc((100% - 30px) / 2);
  box-shadow: 10px 10px 15px rgba(45, 15, 36, 0.5);
}
.blogs-list-title {
  font-size: 24px;
  line-height: 1.4062;
  color: #000000;
  margin-bottom: 16px;
}
.blogs-text-list {
  font-size: 18px;
  line-height: 1.4062;
  color: #000000;
  margin-bottom: 16px;
}
.blogs-undertext-list {
  font-size: 14px;
  line-height: 1.4062;
  color: #000000;
}

/* ==================footer */
.container-footer {
  padding-top: 115px;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}
.footer-nav {
  margin-bottom: 53px;
  margin-left: auto;
  margin-right: auto;
}
.nav-footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.fotor-nav-item {
}
.footer-nav-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4062;
  color: #000000;
}

.icon-logo {
  fill: #f7941e;
}
.footer-nav::after {
  display: block;
  content: ' ';
  width: 1000px;

  border: 1px solid #000000;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}
.footer-social {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 72px;
}

.footer-social-list {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 24px;
}
.social-icon {
  width: 40px;
  height: 40px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  fill: aqua;
  stroke: red;
}

.copyrate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.text-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4062;
}
