body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #01010d;
}
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.container {
  width: 1134px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 25px;
  padding-bottom: 36px;
  position: relative;
  top: 100px;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 60px;
}
.nav-item {
  position: relative;
}

.nav-item:last-child {
  margin-right: 60px;
}
.nav-link {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  opacity: 0.8;
}
.active::after {
  content: '';
  position: absolute;
  width: 44px;
  height: 0px;
  left: 0px;
  top: 40px;
  border: 4px solid #1617db;
  border-radius: 4px;
}
.nav-link:hover,
.nav-link:focus {
  font-weight: 700;
}

.button-nav {
  background-color: #1617db;
  border-radius: 6px;
  padding: 15px 30px;
  color: #ffffff;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}
.hero {
  padding-top: 195px;
  background-color: #ffffff;
  background-image: url(../images/bg-hero.png);
}
.container-hero {
  display: flex;
  gap: 50px;
}

.hero-title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 67px;
  line-height: 1.2;
  text-align: left;
  width: 454px;
  margin-bottom: 25px;
}
.hero-text {
  font-family: 'Poppins';

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.button-hero {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  padding: 15px 30px;
  border: 1px solid rgba(22, 23, 219, 0.2);
  font-family: 'Poppins';
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #6565ec;
}
.icon-hero {
  width: 15px;
  height: 15px;
  fill: currentColor;
  stroke: #6565ec;
}

.hero-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.our-service {
  background-color: #fbfbfb;
  padding-top: 95px;
  padding-bottom: 93px;
}
.service-title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 51px;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 25px;
}
.service-text {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 433px;
  margin-bottom: 73px;
}

.service-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-list {
  margin-bottom: 95px;
}
.service-item {
  position: relative;
  margin-bottom: 70px;
}
.service-item-title {
  font-family: 'Poppins';

  font-weight: 600;
  font-size: 21px;
  line-height: 1.5;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.service-item-text {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2px;
  text-align: center;
  opacity: 0.8;
}
.service-icon {
  margin-bottom: 29px;
}
/* +==========================our-product================================ */
.our-product {
  background-color: #fbfbfb;
  padding-bottom: 158px;
}

.text-link {
  display: block;
  margin-bottom: 12px;
}
.product-title {
  font-weight: 700;
  font-size: 51px;
  line-height: 1.2;
  color: #01010d;
  margin-bottom: 25px;
}
.product-text {
  font-size: 16px;
  line-height: 1.5;

  width: 485px;
  margin-right: auto;
}

.product-list {
  display: flex;
  align-items: center;
  gap: 99px;
}
.product-item {
}
/* ========================video==================================== */
.video {
  background-color: #fbfbfb;
  padding-bottom: 120px;
}

.container-video {
  display: flex;
  position: relative;
}
.video-content {
}
.title-video {
  font-size: 51px;
  line-height: 1.2;

  margin-bottom: 25px;
}
.text-video {
  font-size: 16px;
  line-height: 1.5;
  color: #01010d;
  width: 440px;
  margin-bottom: 50px;
}
.video-button {
  width: 186px;
  height: 64px;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.2px;
  text-transform: uppercase;
  color: #1617db;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  background-color: transparent;
}

.video-icon {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.video-mp4 {
  position: relative;
  background-image: url(../images/posrter-video.png);

  border-radius: 10px;
  margin-right: 105px;
}
.play-button {
  position: absolute;
  top: 100px;
  left: 180px;
  background-color: transparent;
  border: transparent;
}
.play-button-icon {
}
/* ========================footer============================== */
.footer {
  background-color: #f7f7f7;
}
.container-footer {
  padding-top: 50px;
  padding-bottom: 120px;

  display: flex;
  align-items: flex-start;
}

.contacts {
  margin-right: 129px;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #01010d;
  margin-bottom: 25px;
  text-align: left;
}
.text-contacts {
  font-size: 16px;
  line-height: 1.2;

  width: 170px;
  margin-bottom: 25px;
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cosial-icon {
  width: 20px;
  height: 20px;
  transition: 250ms ease-in;
}
.cosial-icon:hover,
.cosial-icon:focus {
  fill: coral;
  scale: 1.5;
}

.footer-nav {
  display: flex;
  gap: 120px;
}
.title-footer-list {
  margin-bottom: 24px;
}
.nav-footer-item:not(:last-child) {
  margin-bottom: 25px;
}
.nav-footer-link {
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  color: #01010d;
  scale: 1;
  transition: color 250ms ease-in 250ms, transform 250ms ease-in;
}
.nav-footer-link:hover,
.nav-footer-link:focus {
  color: #1617db;
  scale: 1.2;
}

.input {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 9px 18px;
  outline: transparent;
  margin-bottom: 25px;
}
.input:placeholder-shown {
  border-color: #1617db;
}
.input:not(:placeholder-shown) {
  border-color: gold;
}
.input::placeholder {
  color: #01010d;
}
.button-footer {
  padding: 15px 25px;
  background-color: #1617db;
  color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  border-radius: 6px;
}
